<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="onAddDonor()" ><mat-icon>person_add</mat-icon>Add Donor</a>
      <a mat-list-item (click)="onDonor()"><mat-icon>groups</mat-icon>Donors</a>
      <a mat-list-item (click)="onDueDonor()"><mat-icon>today</mat-icon>Due Donors</a>
      <!-- <a mat-list-item (click)="onMyAccount()" ><mat-icon>account_circle</mat-icon>My Account</a> -->
      <!-- <a mat-list-item (click)="onResetPassword()"><mat-icon>settings_backup_restore</mat-icon>Reset Password</a> -->
      <a mat-list-item routerLink=""><mat-icon>power_settings_new</mat-icon>Logout</a>
      <app-footer></app-footer>

    

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent"  class="app-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/dashboard"><img src="assets/blood.png"> </a>{{title}} </span>

      <div class="spacer"></div>
    
       <button mat-button><mat-icon>account_circle</mat-icon>Profile</button>
      
     
      
    
  
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <app-data-table *ngIf="showDonor"></app-data-table>
    <app-add-donor *ngIf="showAddDonor"></app-add-donor>
    <app-covid19 *ngIf="showDueDonor"></app-covid19>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
  
</mat-sidenav-container>
 
