<!-- <div class="header">
    <h1>Welcome to Volta Regional Hospital Blood Bank Portal</h1>
</div> -->


<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card>
        <mat-card-title>Welcome to Volta Regional Hospital Blood Bank Portal</mat-card-title>
        <img align="center" width="230px" src="/assets/blood.png">
    </mat-card>
&nbsp; &nbsp;
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field> 

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
<a routerLink="/dashboard" ><button mat-stroked-button color="accent" class="btn-block">Sign-in</button></a>
<br><br>
<p>Don't have access? <a href="#">Register</a> </p>

      </form>
    </mat-card>
  
  </div>




